nanobanana-*.png
ai-image-generator-*.png
reseaux-sociaux/semaine-*/
reseaux-sociaux/assets/
societe/
reseaux-sociaux-illustre/illustrations/
reseaux-sociaux-illustre/sortie/
.DS_Store
publication/
reseaux-sociaux-bd/illustrations/
reseaux-sociaux-bd/sortie/
reseaux-sociaux-bd/controle/
